@charset "UTF-8";

@mixin print-reset() {
  
  @media print {
    * {
      @if $print-transparent-backgrounds {
        background: transparent !important;
      }
      
      box-shadow: none !important;
      color: black !important; // Black prints faster: h5bp.com/s
      text-shadow: none !important;
    }
    
    // Display the URL of a link after the text
    a,
    a:visited {
      text-decoration: underline;
    }
    @if $print-hrefs {
      a[href]:after {
        content: ' (' attr(href) ')';
      }
    }
    
    // Don't display the URL for images or JavaScript/internal links
    .ir a:after,
    a[href^='javascript:']:after,
    a[href^='#']:after {
      content: '';
    }
    
    // Display what an abbreviation stands for after the text
    abbr[title]:after {
      content: ' (' attr(title) ')';
    }
    
    // Prevent page breaks in the middle of a blockquote or preformatted text block
    pre,
    blockquote {
      border: 1px solid map_get($color-blackwhite-palette, 'black');
      page-break-inside: avoid;
    }
    
    // h5bp.com/t
    thead {
      display: table-header-group;
    }
    
    tr,
    img {
      page-break-inside: avoid;
    }
    
    img {
      max-width: 100% !important;
    }
    
    @page {
      margin: 0.5cm;
    }
    
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    
    // Avoid page breaks after a heading
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
}